 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


#inramning
{	
         width:960px;
        margin:0 auto;
        background-color: #EDF5FF;
        border-left: 2px solid black;
        border-right: 2px solid black;
}


#sidhuvud /* skappar rammen längs upp, den som har sidans namn */
{
      
        background-image: url(pics/Max.png);
        height:171px;
       
}

#sidhuvud H1 /* ger H1 följande egenskaper som  alltid är bundna till sidhuvud div */
{
        font-weight: bold;
        line-height:171px;
        text-align:center;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 65px;
        color:black;
}


#menyruta /* skappar rutan som menyn finns i och har alla des egenskaper som färg, bred, position m.m.*/
{
        float: left; 
        width: 155px;
        height: 600px;
        margin: 5px; 
        font-family: Impact, Charcoal, sans-serif;
        background-image: url(pics/fun1.png);
        background-repeat: no-repeat; 
        background-position:15px 250px;
       
      
}

#menyruta H4 /* ger H1 följande egenskaper som alltid är bundna till menyruta div */
{
        line-height:50px;
        font-weight: bold;
        text-align:center;
        font-size: 35px;
}

#meny /* centerar all text i meny div*/ 
{
        text-align: center;
       
}


#meny li /* ger li följande egenskaper som alltid är bundna till meny div */
{ 
        margin: 5px;
        padding: 0;
        list-style: none;
}
	
#meny li a /* ger li a följande egenskaper som alltid är bundna till meny div */
{
        display: block;
        width: 130px;
        margin: 0;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 25px;
        color: white;
        border-radius: 5px;
        border: 1px solid red;
       background: url('pics/Max.png');
	
}

#meny li a:hover /* ger li A följande egenskaper när mus pekaren svävar över den */
{
        padding: 5px 12px;
        color: white;
}
	
#meny #active /* visar vilken sida man är på i menyn genom att göra den lenken svart*/
{
        background: black;
}


#blogg 
{
        float: left;
        width: 780px; 
        border-left: 2px solid black;
        margin: 5px; 
        text-align:center;
}

#blogg table, th, td 
{
        margin-left:auto; 
        margin-right:auto;
        border: 1px solid black;
} 


#blogg H2
{
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: bold;
        text-align:center;
        font-size: 40px;
}

#blogg H4
{
        line-height:100px;
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: bold;
        text-align:center;
        font-size: 20px;
}

#blogg form 
{
        text-align: left;
        background: none repeat scroll 0% 0% #CCC;
        border: 1px solid rgb(170, 57, 57);
        padding-left: 100px;
        color: rgb(170, 57, 57);
        font-size: 18px;
        font-weight: bold;
        font-family: Tahoma,Geneva,sans-serif;
        margin: 20px 50px 20px 90px;
}

#blogg form H4
{
        line-height:100px;
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: bold;
        text-align:center;
        font-size: 30px;
}

#blogg input 
{
        color: rgb(170, 57, 57);
        padding: 10px;
        font-family: Tahoma,Geneva,sans-serif;
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        border: 5px solid rgb(170, 57, 57);
}

#blogg select 
{
        border: 5px solid #AA3939;
        padding: 10px;
        font-family: Keffeesatz,Arial;
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        color: #AA3939;
}


#blogg textarea 
{
        color: #AA3939;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 10px;
        font-family: Keffeesatz,Arial;
        margin-top: 10px;
        width: 450px;
        margin-bottom: 15px;
        font-size: 16px;
        border: 5px solid #AA3939;
}



#blogg P
{
        padding-left: 5%;
        font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
        font-weight: bold;
        text-align:left;
}

#sidfot 
{	
        clear: left;
        width: 960px;
        height: 50px;
        background-color: #7E7B7F;
        border-top: 2px solid black;

}

#sidfot P
{
        line-height:50px;
        text-align:center;
        font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
        font-weight: bold;
    
    
}


 .right /*class som   placerar objekt till höger*/
{
        float:right; 
        margin: 0 0 20px 20px;
}

 .left /*class som   placerar objekt till vänster*/
{
        float:left; 
        margin: 20px 520px 20px 20px;
}


#blogg #sprite {
        width: 24px;
        height: 24px;
        background: url(pics/sprite.png) 24px -144px;
padding: 4px 24px 3px 0px;
display: block;
width: 147px;
margin: 0px 0px -17px 16px;
background-repeat: no-repeat;
text-decoration: none;
color: #ccc8b8;


}

#blogg #sprite:hover{
        width: 24px;
        height: 24px;
        background: url(pics/sprite.png) 24px -96px;
padding: 4px 24px 3px 0px;
display: block;
width: 147px;
margin: 0px 0px -17px 16px;
background-repeat: no-repeat;
text-decoration: none;
color: blue;
}

#blogg #b {
   
  width: 24px;
  height: 24px;
   background: url('pics/sprite.png') 24px -192px;
 text-align: center;
padding: 5px 24px 3px 0px;
display: block;
width: 147px;
margin: 9px 0px -26px -48px;
background-repeat: no-repeat;
text-decoration: none;
   
} 

#blogg #b:hover{
  background: url('pics/sprite.png') 24px -240px;  
  width: 24px;
  height: 24px;
  text-align: center;
padding: 5px 24px 3px 0px;
display: block;
width: 147px;
margin: 9px 0px -26px -48px;
background-repeat: no-repeat;
color: #ccc8b8;
text-decoration: none;
  
} 


.lablista
{
        padding-left: 200px;
        text-align:left;
        padding: 5;
}


        /* CSS för utrskrift startar här ifrån */
        
@media print {


        /* tar bort element som man inte vill ha i utskriften */
    
       
        #menyruta, #sidfot
        {
                display: none;
                border: 0;

        }
        
        #inramning
        {
                background-color:none;
                border-left: none;
                border-right: none;
        }
        

        #blogg
        {
                border: none;
        }
        
        img {
                display: none;
        }


        /* gör så att man får färg på lenkar i utskriften */
        #blogg a:link, a:visited
        {
                color: #781351;
        }
        
        /*visar hela adressen på en lenk bredvid namnet*/  
        #blogg a:after 
        {
                content: " (" attr(href) ")";
                font-size: 14px 0px;
        }
        
}


@media only screen and (max-device-width : 481px) {
        
	div#inramning
	{
	         width: 976px;
/*margin: 0px auto;*/
margin: 0px 3px 0px 3px;
background-color: #EDF5FF;
border-left: 2px solid black;
border-right: 2px solid black;
	}

        div#sidhuvud /* skappar rammen längs upp, den som har sidans namn */
{
      
        background-image: url(pics/Max.png);
        height:171px;
       
}

div#sidhuvud H1 /* ger H1 följande egenskaper som  alltid är bundna till sidhuvud div */
{
        line-height: 171px;
text-align: center;
font-family: Verdana;
font-size: 86px;
color: white;
}


	div#blogg 
	{
		float: none;
		width: 100%;
		text-align: center;
		border-left: none;
		margin: none;
	}
	
	div#blogg H2 
	{
    /*font-family: Tahoma,Geneva,sans-serif;
font-weight: bold;
text-align: center;
font-size: 46px; */
font-weight: bold;
text-align: center;
font-size: 43px;
font-family: verdana;
text-decoration: underline;

	}

div#blogg H4 
{
    /*line-height: 90px;
font-weight: bold;
text-align: center;
padding: 40px 7px 16px;
font-size: 42px;
font-family: verdana;*/

line-height: 50px;
font-weight: bold;
text-align: center;
padding: 80px 0px 0px;
font-size: 42px;
font-family: verdana;
margin: 0px 0px -40px 0px;
}

div#blogg P {
   font-family: verdana;
font-weight: normal;
text-align: left;
font-size: 30px;
margin: 0px 90px -65px 0px;
width: 896px;
line-height: 60px;
padding: 70px 0px 0px 50px;
}

div#blogg table, th, td {
margin-right: auto;
border: 1px solid black;
margin: 34px 21px -61px 21px;
font-size: 42px;
font-family: verdana;
line-height: 81px;
padding: 0px 9px 3px 9px;
}


div#blogg a
{

line-height: 61px;
font-size: 42px;
font-family: verdana;
}

div#blogg #sprite {
       height: 24px;
background: url('pics/sprite.png') no-repeat scroll 24px -144px transparent;
padding: 0px 24px 3px 48px;
display: block;
width: 147px;
margin: 41px 56px -39px 157px;
text-decoration: none;
color: #CCC8B8;
font-size: 31px;
font-family: verdana;
font-weight: bold;
background-repeat: no-repeat;

}

div#blogg #sprite:hover{
        width: 24px;
        height: 24px;
        background: url(pics/sprite.png) 24px -96px;
padding: 0px 24px 3px 48px;
display: block;
width: 147px;
margin: 41px 56px -39px 157px;
background-repeat: no-repeat;
text-decoration: none;
color: blue;
}

div#blogg #b {
   
  width: 24px;
height: 24px;
background: url('pics/sprite.png') 24px -192px;
text-align: center;
padding: 5px 24px 3px 46px;
display: block;
width: 147px;
margin: 9px 0px -26px -48px;
background-repeat: no-repeat;
text-decoration: none;
line-height: 11px;
font-size: 38px;
   
} 

div#blogg #b:hover{
  background: url('pics/sprite.png') 24px -240px;  
  width: 24px;
  height: 24px;
  text-align: center;
padding: 5px 24px 3px 0px;
display: block;
width: 147px;
margin: 9px 0px -26px -48px;
background-repeat: no-repeat;
color: #ccc8b8;
text-decoration: none;
  line-height: 11px;
font-size: 38px;
} 



div#sidfot 
{	
        clear: left;
        width: 100%;
        height: 70px;
        background-color: #7E7B7F;
        border-top: 2px solid black;

}

div#sidfot P
{
        line-height:70px;
        text-align:center;
        font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
        font-weight: bold;
    font-size: 40px;
    
}



div#menyruta /* skappar rutan som menyn finns i och har alla des egenskaper som färg, bred, position m.m.*/
{
      font-family: Impact,Charcoal,sans-serif;
width: 943px;
height: auto;
padding: 17px 10px 47px 10px;
      
}

div#menyruta H4 /* ger H1 följande egenskaper som alltid är bundna till menyruta div */
{
       font-size: 60px;
margin: 5px 201px 52px 201px;
font-family: Verdana;

}

div#meny /* centerar all text i meny div*/ 
{
        text-align: center;
border-top: 4px solid #000;
border-bottom: 4px solid #000;
}


div#meny li /* ger li följande egenskaper som alltid är bundna till meny div */
{ 
        margin-right: 0px;
display: inline-block;
list-style: none outside none;
}
	
div#meny li a /* ger li a följande egenskaper som alltid är bundna till meny div */
{
     font-size: 38px;
border: 2px solid #F00;
padding: 10px 6px;
margin: -56px 5px 23px 5px;
border-radius: 3px;
display: block;
text-decoration: none;
color: #FFF;
background: url('pics/Max.png') repeat scroll 0% 0% transparent;
width: auto;
font-family: Verdana;
font-weight: none;
}

div#meny li a:hover /* ger li A följande egenskaper när mus pekaren svävar över den */
{
        padding: 10px 8px;
        color: white;
}
	
div#meny #active /* visar vilken sida man är på i menyn genom att göra den lenken svart*/
{
        background: black;
}

.lablista
{
        
       /*text-align: left;
padding: 46px 0px 0px 0px;
font-size: 30px;
margin: -50px 72px 29px 28px;*/

text-align: left;
padding: 51px 0px 0px 0px;
font-size: 22px;
margin: 0px 70px 7px 28px;
font-family: verdana;

}

.right {
    float: right;
    margin: 48px 126px 0px 126px;
}

.left {
float: left;
margin: 20px 649px 20px 20px;
}

/*formulär*/

#blogg form 
{
        text-align: left;
background: none repeat scroll 0% 0% #CCC;
border: 1px solid #AA3939;
color: #AA3939;
font-size: 50px;
font-weight: bold;
margin: 218px 140px 0px 168px;
padding: 0px 10px 12px 48px;
font-family: Verdana;

}

#blogg form H4
{
       line-height: 5px;
font-weight: bold;
text-align: center;
font-size: 55px;
font-family: Verdana;
padding: 36px 10px 39px 10px;
}


#blogg input 
{
        color: #AA3939;
padding: 10px;
font-family: Tahoma,Geneva,sans-serif;
font-size: 43px;
margin-bottom: 15px;
margin-top: 10px;
background-color: rgba(255, 255, 255, 0.4);
border: 2px solid #AA3939;
}

#blogg select 
{
       border: 2px solid #AA3939;
padding: 10px;
font-family: Keffeesatz,Arial;
font-size: 43px;
margin-bottom: 15px;
margin-top: 10px;
background-color: rgba(255, 255, 255, 0.4);
color: #AA3939;
}


#blogg textarea 
{
        color: #AA3939;
background-color: rgba(255, 255, 255, 0.4);
padding: 8px 10px 41px 202px;
font-family: Keffeesatz,Arial;
margin-top: 10px;
width: 311px;
margin-bottom: 15px;
font-size: 43px;
border: 2px solid #AA3939;
}

 #blogg input[type=radio] {
        border: 0px none;
    width: 2%;
    height: 1em;

}


}
